<main>
    <footer>
        <div class="footer">
            <div class="footerbtn">
            <div class="btnf footer1">
                <a href="https://www.linkedin.com/in/gautam-aggarwal-259729252"><button >Linkedin </button></a>
            </div>
            <div class="btnf footer1">
                <a href=""><button>Github </button></a>
            </div>
            <div class="btnf footer1">
                <a href=""><button>Twitter </button></a>
            </div>
        </div>
            <div class="para">
                <p>“The secret of getting ahead is getting started.”- Mark Twain   </p>
            </div>
            
        
        
        </div>  
     </footer>
</body>
</main>