<%- include("partials/header.ejs")%>
<form action="/submit" method="POST">
    
    <input type="text" name="title" placeholder="Title of the Blog">
    <input type="text" name="blogbody" placeholder="Body of the Blog">
    <input type="submit" value="OK">
  </form>
<%- include("partials/footer.ejs")%>