<%- include("partials/header.ejs")%>
<div class="index">
<h1>BLOGS</h1>
<p>Want to read something but nothing to read but don't know what to read</br>
Try<a href="/reddit"> The Reddits</a> and <a href="/google">How to Google</a></p>
<ul>
    <li><a href="/trolls">Trolls</a></li>
    <li><a href="/newthings">Six Principles of Making New things</a></li>
    <li><a href="/webstartups">The Future of Web Startups</a></li>
    <li><a href="/philosophy">How to Do philosophy</a></li>
    <li><a href="/die">How not to Die</a></li>
    <li><a href="/stuff">Stuff</a></li>
    <li><a href="/equity">The Equity  Equation</a></li>
    <li><a href="/union">An Alternative theory of Unions</a></li>
    <li><a href="/hacker">The Hacker's Guide to Investors</a></li>
    <li><a href="/judgements">Two kinds of Judgement</a></li>
    <li><a href="/microsoft">Microsoft is Dead</a></li>
    <li><a href="/notstartup">Why to not not start a  startup</a></li>
    <li><a href="/wise">Is it worth being Wise?</a></li>
    <li><a href="/founders">Learning from Founders</a></li>
    <li><a href="/art">How Art can be good</a></li>
    <li><a href="/student">A Student's guide to startups</a></li>
    <li><a href="/island">The Island Test</a></li>
</ul>


</div>


<%- include("partials/footer.ejs")%>